html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: "PT Sans";
}
#grid-container {
  display: grid;
  grid-template-areas:
    "top top top"
    ". header ."
    "nav nav nav"
    "crumbs crumbs crumbs"
    ". main ."
    "footer footer footer";

  grid-template-columns: 1fr minmax(1100px, 1200px)  1fr; 
  grid-template-rows: 33px 100px 55px 35px 1fr 170px;
}

#top {
  grid-area: top;
}

#header {
  grid-area: header;
}

#nav {
  grid-area: nav;
}

#breadcrumbs {
  grid-area: crumbs;
}
#main {
  grid-area: main;
}
#footer {
  grid-area: footer;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

main {
  padding-top: 30px;
  padding-bottom: 90px;
}

.top {  
  border-bottom: 1px solid #bbb;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33px;
  font-size: 14px;
}

.top-nav-item {
  margin: 0 13px;
  color: #000;
  text-decoration: none;
}

.header-main {
  display: flex;
  align-items: center;
  height: 95px;
}

.search{
  margin: 0 142px 0 56px;
  display: flex;  
  justify-content: center;
  align-items: center;
  max-width: 394px;
}
.search-logo{
  position: relative;
  left: 30px;
  height: 23px;
}
.search-input{
  border: 1px solid #bbb;
  border-radius: 8px;  
  font-size: 16px;
  font-weight:700;
  color:#616167;
  padding: 0 55px; 
  height:50px;
  min-width: 280px;
}
.search-button{
  position: relative;
  border: none;
  background: none;
  right: 60px;
}

.phone-number {
  font-weight: 900;
  margin: 0px;
  letter-spacing: 2px;
}
.timetable {
  margin: 0px;
  font-size: 14px;
}

.shopacart {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-weight: 700;
  margin-left: 65px;
}
.shopcart-compare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45px;
}
.shopcart-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45px;
}

.shopacrt-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45px;
}

.nav {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.navbar {
  display: flex;
  height: 100%;
}

.nav-item {
  display: flex;
  border-left: 1px solid #bbb;
  text-align: center;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  color: #000;
}
.nav-item:first-child {
  background-color: #ccc;
}

.nav-item__double {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-item__bold {
  font-weight: 900;
  text-decoration: none;
  color: #000;
}

.nav-item:last-child {
  border-right: 1px solid #bbb;
}

.nav-item__active {
  background-color: #db055b;
}

.breadcrumbs {
  border-bottom: 1px solid #bbb;
}

.crumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 12px;
}

.cramb {
  padding: 0 5px;
}
.cramb:after {
  content: ">";
  padding-left: 10px;
}
.cramb:last-child::after {
  content: "";
}

.h1-title {
  font-size: 28px;
  font-weight: 700;
}

.pagination {
  max-width: 1150px;
  margin: 0 auto;
}

.pagination-number {
  display: inline-block;
  padding: 7px 14px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 13px;
  font-weight: 700;
}

.pagination-number__active {
  background-color: #db055b;
}

#main-section {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(180px, 190px));
  grid-template-columns: repeat(auto-fill, minmax(500px, 560px))  ;
  justify-content: center;
  grid-gap: 70px 60px;
  margin: 50px 0;
}
.article-preview {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.article-preview-text {
  padding-left: 19px;
}
.article-preview-title {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 15px 15px 0;
}
.article-preview-description {
  font-size: 15px;
  margin: 0px;
}

.footer {
  background-color: #dfe1e9;
}

.footer-conten {
  font-size: 15px;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 10px;
  padding: 40px 0 30px 0;
}

.footer-navbar {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.footer-adress p{
  margin: 1px;
}
.footer-adress-link{
  color: #db055b;
  font-weight: 700;
}

.footer-contacts p{
  margin: 1px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70px;
}

.footer-nav-item {
  text-decoration: none;
  color: #000;
  margin: 1px;
}

.footer-nav-privacy {
  text-decoration: none;
  color: #000;
  margin: 10px 0 0 0;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-logo-image {
  align-self: flex-end;
}

.footer-logo-link {
  align-self: flex-end;
  width: 150px;
  text-align: end;
  text-decoration: none;
  color: #000;
}
