html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: "PT Sans", sans-serif;
}
#grid-container {
  display: grid;
  grid-template-areas:
    "top top top"
    ". header ."
    "nav nav nav"
    "crumbs crumbs crumbs"
    ". main ."
    "footer footer footer";

  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 33px 100px 55px 35px 1fr 100px;
}

#top{
  grid-area: top;
}

#header {
  grid-area: header;
}


#nav {
  grid-area: nav;
}

#breadcrumbs{
  grid-area: crumbs;
}
#main {
  grid-area: main;
}
#footer {
  grid-area: footer;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

main{
  padding-top: 30px; 
}

.main-content{
  width: 1150px;
  margin: 0 auto;
}

.top{
  border-bottom: 1px solid #bbb;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33px;
  font-size: 14px;  
}

.top-nav-item {
  margin: 0 13px;
}

.header-main {
  display: flex;
  align-items: center;
  height: 95px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 392px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin: 0 142px 0 56px;
}
.search-logo {
  margin: 0 17px;
  padding: 0px;
  height: 23px;
}

.search-input-item {
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.search-input-item:focus {
  outline: none;
}
.search-button-item {
  border: none;
  background: none;
  margin: 0 17px;
}

.phone-number {
  font-weight: 900;
  margin: 0px;
  letter-spacing: 2px;
}
.timetable {
  margin: 0px;
  font-size: 14px;
}

.shopacart {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-weight: 700;
  margin-left: 65px;
}
.shopcart-compare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45px;
}
.shopcart-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45px;
}

.shopacrt-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45px;
}

.nav{
  border-top : 1px solid #bbb;
  border-bottom : 1px solid #bbb;
}

.navbar{
  display: flex; 
  height: 100%;
}

.nav-item{  
  display: flex;
  border-left: 1px solid #bbb;
  text-align: center; 
  align-items: center;    
  padding: 0 20px;
}
.nav-item:first-child{
  background-color: #ccc;
}

.nav-item__double{
  display: flex;
  flex-direction: column;
}
.nav-item__bold{
  font-weight: 900;
}

.nav-item:last-child{
  border-right: 1px solid #bbb; 
}

.nav-item__active{
  background-color: #db055b;
}

.breadcrumbs{
  border-bottom: 1px solid #bbb;  
}

.crumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 12px;
}

.cramb{
  padding: 0 5px; 
}

.cramb:after{
  content: ">";
  padding-left: 10px;
}

.cramb:last-child::after{
  content: "";
}


.h1-title{
  font-size: 28px;
  font-weight: 700;
}

.pagination-number{
  display: inline-block;
  padding: 7px 14px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 13px;  
  font-weight: 700;
}

.pagination-number__active{
  background-color: #db055b;
}

